html, body {
    padding: 0;
    margin: 0;
}

.activity {
    padding: .25em;
    color: white;
}

.active {
    background-color: green;
}

.in-progress {
    background-color: yellow;
    color: black;
}

.inactive {
    background-color: red;
}
