body: {
    overflow: hidden;
}

.narrow-input {
    width: 90%;
}

.section {
    padding: 2em;
}

.news-section {
    height: 100%;
}

.wide-button {
    width: 100%;
}

.loader-wrapper {
    margin: 0 auto;
    width: 25%;
    height: 25%;
}

.debug-box {
    height: 250px;
    overflow-y: scroll;
}
